
.ant-card-body .card-content {
  position: relative;
  &:after {
    display: table;
    content: "";
    clear: both;
  }
  .card-preview {
    float: left;
    width: 35%;
    img {
      width: 100%;
      display: block;
      border-radius: 5px;
    }
  }
  .card-id {
    color: #222;
    font-size: 16px;
  }
  .card-details {
    position: relative;
    margin-left: 35%;
    padding: 0 12px;
    padding-bottom: 30px;
  }
  .card-operations {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 35%;
    display: block;
    padding: 0 12px;
  }
}