body {
  min-height: 100%;
}

#app-root {
  position: relative;
  min-height: 100%;
}

.clear-fix {
  &::before, &::after {
    display: block;
    content: "";
    height: 0;
    clear: both;
  }
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

form .ant-input-number {
  margin: 0 10px;
}

form .ant-btn {
  margin-right: 10px;
}

.layout-container {
  margin: 0 50px;
  background: #fff;
  padding: 20px 0 60px;
  position: relative;
}